body{
    margin: 0;
    padding: 0;
    background-color: white;

}
header{

background-color: rgb(59, 159, 46);
}
.hero-sec{
    border: 1px solid red;
}
.design-sec{
    border: 1px solid black;
}
.intro-sec{
    border: 1px solid blue;
}