body{
    margin: 0;
    padding: 0;
    background-color: white;

}
li{
    list-style: none;
}
header{

background-color: rgb(59, 159, 46);
}
.hero-sec{
    border: 1px solid red;
}
.design-sec{
    border: 1px solid black;
}
.intro-sec{
    border: 1px solid blue;
}

/* Service Section */
.design-sec{
    display: flex;
    width: 1112px;
    height: 640px;
}
.web-design{
    width: 50%;
    background-color: rebeccapurple;
}
.container-2{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

  .app-design {
   width: 100%;
   height: 50%;
    background-color: lightblue;
  }

  .graphic-design {
    width: 100%;
    height: 50%;
    background-color: lightgreen;
  }
